<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="backgray">
  <ng-container *ngIf="list">
    <ng-container *ngFor="let item of list">
      <ion-card  [routerLink]="['/clients/add', item.CL_CodigoCliente]" routerDirection="forward" color="primary">
        <ion-card-header>
          <ion-card-title><b>{{ item.CL_CodigoCliente }} | </b>{{ item.CL_NomeCliente }} - {{ item.CL_Cidade }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p><b>Telefone:</b> {{ item.CL_Telefone}}</p>
          <p><b>E-mail:</b> {{ item.CL_EMail}}</p>
          <p><b>CNPJ:</b> {{ item.CL_CNPJ}}</p>
          <!-- <ion-item>
            <ion-button fill="outline" slot="end"> <ion-icon name="eye-outline"></ion-icon> </ion-button>
            <ion-button fill="outline" color="danger" slot="end"> <ion-icon name="trash-outline"></ion-icon> </ion-button>
          </ion-item> -->
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!list">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text class="ion-margin-top" *ngFor="let item of [0,1,2,3,4,5]" animated style="width: 100%; height:120px" slot="start"></ion-skeleton-text>
    </div>
  </ng-container>
  
  

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/clients/add']" routerDirection="forward">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="briefcase-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- <ion-fab-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button [routerLink]="['/clients/add']" routerDirection="forward">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
