<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clients"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title || entity?.CL_NomeCliente }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
  <ng-container>
    <ng-container *ngIf="!entity">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text class="ion-margin-top" *ngFor="let item of [0,1,2,3,4,5,6,7]" animated style="width: 100%; height:50px" slot="start"></ion-skeleton-text>
      </div>
    </ng-container>

    <ng-container *ngIf="entity">
      <div class="ion-padding ion-margin-top ion-justify-content-around">
         <div>
           <ion-row>
             <ion-col size="12">
               <ion-list [(ngModel)]="tipoPessoa" name="tipoPessoa" (ionChange)="changeTipoPessoa()" ngDefaultControl>
                 <ion-radio-group value="1">
                   <ion-list-header>
                     <ion-label color="dark">Tipo de Cliente</ion-label>
                   </ion-list-header>
                   <ion-item>
                     <ion-label color="dark">Fisica</ion-label>
                     <ion-radio slot="end" value="2"></ion-radio>
                   </ion-item>
               
                   <ion-item>
                     <ion-label color="dark">Júridica</ion-label>
                     <ion-radio slot="end" value="1"></ion-radio>
                   </ion-item>
                 </ion-radio-group>
               </ion-list>
             </ion-col>
             <ion-col size="12">
               <ion-label color="dark">Nome</ion-label>
               <ion-item class="round-input">
                 <ion-input required type="text" [(ngModel)]="entity.CL_NomeCliente" name="CL_NomeCliente"></ion-input>
               </ion-item>
             </ion-col>
   
             <ion-col size="12" *ngIf="tipoPessoa == '1'">
               <ion-label color="dark">CNPJ</ion-label>
               <ion-item class="round-input">
                 <ion-input [brmasker]="{person: true}" required type="text" [(ngModel)]="entity.CL_CNPJ" name="CL_CNPJ"></ion-input>
               </ion-item>
             </ion-col>
   
             <ion-col size="12" *ngIf="tipoPessoa == '2'">
               <ion-label color="dark">CPF</ion-label>
               <ion-item class="round-input">
                 <ion-input [brmasker]="{person: true}" required type="text" [(ngModel)]="entity.CL_CPF" name="CL_CPF"></ion-input>
               </ion-item>
             </ion-col>
   
             <ion-col size="12">
               <ion-label color="dark">E-mail</ion-label>
               <ion-item class="round-input">
                 <ion-input required #email type="email" (ionBlur)="emailExists()" [(ngModel)]="entity.CL_EMail" name="CL_EMail"></ion-input>
               </ion-item>
             </ion-col>
   
             <ion-col size="12">
               <ion-label color="dark">Telefone</ion-label>
               <ion-item class="round-input">
                 <ion-input type="text" [brmasker]="{phone: true}" [(ngModel)]="entity.CL_Telefone" name="CL_Telefone"></ion-input>
               </ion-item>
             </ion-col>
           </ion-row>
   
           <ion-row>
             <ion-col>
               <ion-label color="dark">CEP</ion-label>
               <ion-item class="round-input">
                 <ion-input (ionChange)="searchCep(entity.CL_CEP)" [brmasker]="{mask:'99999-999', len:9, type:'num'}" type="text"  [(ngModel)]="entity.CL_CEP" name="CL_CEP"></ion-input>
               </ion-item>
             </ion-col>
             <ion-col>
               <ion-label color="dark">UF</ion-label>
               <ion-item class="round-input">
                 <ion-input readonly type="text" [(ngModel)]="entity.CL_UF" name="CL_UF"></ion-input>
               </ion-item>
             </ion-col>
           </ion-row>
           
   
           <ion-row>
             <ion-col size="12">
               <ion-label color="dark">Cidade</ion-label>
               <ion-item class="round-input">
                  <ion-input readonly type="text" [(ngModel)]="entity.CL_Cidade" name="CL_Cidade"></ion-input>
               </ion-item>
             </ion-col>
             <ion-col size="12">
               <ion-label color="dark">Bairro</ion-label>
               <ion-item class="round-input">
                 <ion-input type="text" [(ngModel)]="entity.CL_Bairro" name="CL_Bairro"></ion-input>
               </ion-item>
             </ion-col>
             <ion-col size="12">
               <ion-label color="dark">Endereço</ion-label>
               <ion-item class="round-input">
                 <ion-input type="text" [(ngModel)]="entity.CL_Endereco" name="CL_Endereco"></ion-input>
               </ion-item>
             </ion-col>
           </ion-row>
         </div>
      </div>
    </ng-container>
    
  </ng-container>
  
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="form.invalid" type="submit" color="primary" (click)="save(true)" class="ion-no-margin round">
      <ng-container *ngIf="id">
        Atualizar
      </ng-container>
      <ng-container *ngIf="!id">
        Salvar
      </ng-container>
    </ion-button>

    <ion-button *ngIf="id" expand="block" type="submit" color="danger" (click)="delete(id)" class="ion-no-margin round ion-margin-top">
      Remover
    </ion-button>
  </div>
    
  </form>
</ion-content>
