<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="backgray">
  <ng-container *ngIf="list">
    <ng-container *ngFor="let item of list">
      <ion-card  [routerLink]="['/order/add', item.PED_CodigoPedido]" routerDirection="forward" color="primary">
        <ion-card-header>
          <ion-card-title><b>{{ item.PED_CodigoPedido }} | {{ item.RazaoSocial }} </b></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p><b>Vendedor:</b> {{item.NomeVendedor}}</p>
          <p><b>Cliente:</b> {{item.NomeCliente}}</p>
          <p><b>Data:</b> {{item.PED_DataEmissao | date: 'dd/MM/yyyy' }}</p>
          <!-- <ion-item>
            <ion-button fill="outline" slot="end"> <ion-icon name="eye-outline"></ion-icon> </ion-button>
            <ion-button fill="outline" color="danger" slot="end"> <ion-icon name="trash-outline"></ion-icon> </ion-button>
          </ion-item> -->
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="list && list.length <= 0">
   <ion-row>
     <ion-col class="ion-text-center ion-padding ion-margin-top mt-5">
      <img width="30%" src="assets/img/empty-outline.svg" alt="">
      <ion-text color="primary">
        <h1>Você ainda não cadastrou nenhum pedido</h1>
      </ion-text>
     </ion-col>
   </ion-row>
  </ng-container>
  

  <ng-container *ngIf="!list">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text class="ion-margin-top" *ngFor="let item of [0,1,2,3,4,5]" animated style="width: 100%; height:120px" slot="start"></ion-skeleton-text>
    </div>
  </ng-container>

  
  

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/clients/add']" routerDirection="forward">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="briefcase-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- <ion-fab-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button [routerLink]="['/order/add']" routerDirection="forward">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
