<ion-content padding>
  <form #form="ngForm">
    <div class="ion-padding ion-margin-top ion-justify-content-around">
      <div class="ion-text-center">
        <img src="assets/img/logo.png">
      </div>
      
      <div>
        <ion-label color="dark">Email</ion-label>
        <ion-item class="ion-margin-bottom round-input">
          <ion-input required type="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-label color="dark">Senha</ion-label>
        <ion-item class="round-input">
          <ion-input required type="password" [(ngModel)]="password" name="senha"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="ion-padding">
      <ion-button expand="block" (click)="authentication()" [disabled]="form.invalid" type="submit" color="primary" class="ion-no-margin round">Entrar</ion-button>
    </div>
  </form>
</ion-content>