ion-content {
  div {
    ion-row {
        ion-col {
            ion-item {
                margin-top:5px;
            }
        }
    }
    ion-select {
      max-width: 100%;
      width: 100%;
    }
  }
}

.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-3 {
  margin-top: 3em;
}
.mt-4 {
  margin-top: 4em;
}
.mt-5 {
  margin-top: 5em;
}
.mt-6 {
  margin-top: 6em;
}

