<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/order"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ title || entity?.PED_CodigoPedido }}</ion-title>
      </ion-toolbar>
</ion-header> 

<ion-content>
    <form #form="ngForm"> 
    <ng-container>
        <ng-container *ngIf="!entity">
            <div class="ion-padding custom-skeleton">
            <ion-skeleton-text class="ion-margin-top" *ngFor="let item of [0,1,2,3,4,5,6,7]" animated style="width: 100%; height:50px" slot="start"></ion-skeleton-text>
            </div>
        </ng-container> 
    </ng-container>

     <ng-container *ngIf="entity">
        <div class="ion-padding ion-margin-top ion-justify-content-around">
            <div>
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Empresa</ion-label>
                        <ion-item class="round-input">
                            <ion-select [(ngModel)]="entity.PED_CodigoEmpresa" name="PED_CodigoEmpresa" required>
                                <ion-select-option *ngFor="let e of empresa" [value]="e.EMP_CodigoEmpresa">{{e.EMP_RazaoSocial}}</ion-select-option>
                            </ion-select>           
                        </ion-item>
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Vendedor</ion-label>
                        <ion-item>
                            <ion-select [(ngModel)]="entity.PED_CodigoVendedor" name="PED_CodigoVendedor">
                                <ion-select-option *ngFor="let v of vendedor" [value]="v.VND_CodigoVendedor" required>{{v.USR_Nome}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Cliente</ion-label> 
                        <ion-item>
                            <ion-select [(ngModel)]="entity.PED_CodigoCliente" name="PED_CodigoCliente">
                                <ion-select-option *ngFor="let c of client" [value]="c.CL_CodigoCliente" required>{{c.CL_NomeCliente}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Data de Emissão</ion-label> 
                        <ion-item>
                            <ion-input type="datetime-local" useAsvalueDate [(ngModel)]="entity.PED_DataEmissao" name="PED_DataEmissao" required></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Pagamento</ion-label>
                        <ion-item>
                            <ion-select [(ngModel)]="entity.PED_ModalidadePagamento" name="PED_ModalidadePagamento" required>
                                <ion-select-option *ngFor="let m of modalidade" [value]="m.MDP_CodigoModalidade">{{m.MDP_Descricao}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>  
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Complemento</ion-label>
                        <ion-item>
                            <ion-input type="text" upperCase [(ngModel)]="entity.PED_ModalidadeComplemento" name="PED_ModalidadeComplemento"></ion-input>
                        </ion-item>
                    </ion-col> 
                </ion-row> 
                <ion-row>
                    <ion-col size="12"> 
                        <ion-label color="dark">Prazo</ion-label> 
                        <ion-item>
                            <ion-select [(ngModel)]="entity.PED_Prazo" name="PED_Prazo">
                                <ion-select-option value="1">A VISTA</ion-select-option>
                                    <ion-select-option value="30">30 DIAS</ion-select-option>
                                    <ion-select-option value="60">60 DIAS</ion-select-option>
                                    <ion-select-option value="90">90 DIAS</ion-select-option>
                                    <ion-select-option value="120">120 DIAS</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Status</ion-label>
                        <ion-item class="round-item">
                            <ion-select [(ngModel)]="entity.PED_Status" name="PED_Status">
                                <ion-select-option value="2">EM ANDAMENTO</ion-select-option>
                                <ion-select-option value="10">CONCLUÍDO</ion-select-option>
                                <ion-select-option value="9001">CANCELADO</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col size="12">
                        <ion-label color="dark">Tipo de Pedido</ion-label>
                        <ion-item class="round-item"> 
                            <ion-select [(ngModel)]="entity.PED_TipoPedido" name="PED_TipoPedido">
                                <ion-select-option value="1">VENDA</ion-select-option> 
                                <ion-select-option value="100">BRINDE</ion-select-option> 
                                <ion-select-option value="101">TROCA</ion-select-option>
                                <ion-select-option value="103">TROCA II</ion-select-option> 
                                <ion-select-option value="105">VENDA II</ion-select-option> 
                                <ion-select-option value="106">BRINDE II</ion-select-option>
                                <ion-select-option value="110">VENDA III</ion-select-option>
                                <ion-select-option value="111">TROCA III</ion-select-option>
                                <ion-select-option value="113">BRINDE III</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row> 
                <ion-col size="12"> 
                    <ion-label color="dark">Observações</ion-label>
                    <ion-item class="round-item"> 
                        <ion-textarea [(ngModel)]="entity.PED_Observacao" name="PED_Observacao" rows="5"></ion-textarea>
                    </ion-item>
                </ion-col>
                </ion-row>
            </div>
        </div>  
     </ng-container>    
     <div class="ion-padding">
        <ion-button expand="block" [disabled]="form.invalid" type="submit" color="primary" (click)="save(true)" class="ion-no-margin round">
          <ng-container *ngIf="id">
            Atualizar
          </ng-container>
          <ng-container *ngIf="!id">
            Salvar
          </ng-container>
        </ion-button>
        <ion-button *ngIf="id" expand="block" type="submit" color="danger" (click)="delete(id)" class="ion-no-margin round ion-margin-top">
          Remover
        </ion-button>
    </div>
    </form> 
</ion-content>