<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title><img src="assets/img/logo.png"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item [routerLink]="['/clients']" routerDirection="forward">
          <ion-icon name="person-add-outline" class="ion-padding-end"></ion-icon> Cadastro de Clientes
        </ion-item>
        <ion-item [routerLink]="['/order']" routerDirection="forward">
          <ion-icon name="reader-outline" class="ion-padding-end"></ion-icon> Cadastro Pedidos
        </ion-item>
      </ion-menu-toggle>
      <!-- <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item> -->
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list  no-lines >  
      <ion-menu-toggle>
        <ion-item (click)="login.logout()">
          <ion-icon name="exit-outline" class="ion-padding-end"></ion-icon> Sair
        </ion-item>
      </ion-menu-toggle>
    </ion-list> 
  </ion-footer>
</ion-menu>


<ion-content id="main" [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col size="6">
      <ion-card color="primary">
        <ion-card-header class="ion-text-center">
          <ion-card-title><b>+99999</b></ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <b>Clientes</b>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card color="primary">
        <ion-card-header class="ion-text-center">
          <ion-card-title><b>+99999</b></ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <b>Pedidos</b>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card color="primary">
        <ion-card-header class="ion-text-center">
          <ion-card-title><b>+99999</b></ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <b>Clientes</b>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card color="primary">
        <ion-card-header class="ion-text-center">
          <ion-card-title><b>+99999</b></ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <b>Pedidos</b>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>